
@font-face {
    font-family: "Adobe Caslon Pro Font";
    src: url(/static/fonts/ACaslonPro-Regular.otf);
    font-weight: normal;
}


@font-face {
    font-family: "Adobe Caslon Pro Font";
    src: url(/static/fonts/ACaslonPro-bold.ttf);
    font-weight: bold;
}

html {
    scroll-behavior:auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 700px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), /* Sombra sutil alrededor */
                0px 10px 30px rgba(0, 0, 0, 0.1); /* Sombra más profunda */
    margin: auto;
    border-radius: 10px;
    background: #FFFFFF;
}

main {
    overflow-x: hidden;
}

/* footer */

#directorio-seccion {
    width: 80%;
    margin: auto;
}
#directorio-seccion .elemento-titulo {
    font-weight: bold;

}
#canales-seccion {
    width: 80%;
    margin: auto;
}


#horarios-seccion {
    width: 80%;
    margin: auto;
}

#restaurantes {
    width: 80%;
    margin: auto;
}

.bold {
    font-weight: bold;
}

header {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
header h1 {
    color: #003C51;
    font-size: 3.4rem;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Adobe Caslon Pro Font";
}




.header-logo img {
    margin: 20px auto;
    width: 50%;
}

header nav {

    width: 80%;
    margin: 0px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #003C51;
}

header nav li {

    list-style: none;  
    width: 100%;
}

header nav li:last-child > a {
    border-bottom: none;
}


header nav li a{
    font-family: "Adobe Caslon Pro Font";
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 2px solid #D2AA62;
    list-style: none;
    font-size: 1.8rem;
    text-decoration: none;
    color: #003C51;

}

.titulo {
    color: #003C51;
    font-family: "Adobe Caslon Pro Font";
    margin-top: 120px;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}


.directorio-elemento {
    margin-top: 20px;

}




.elemento-titulo {
    display: flex;
    justify-content: space-between;
    color: #003C51;
    font-family: "Adobe Caslon Pro Font";
    font-weight: normal;
    font-size: 1.7rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #D2AA62;
    margin-bottom: 15px;
}


.segunda-linea {
    display: inline-block;
    position: relative;
    top: -30px;
    font-size: 2.2rem;
}


.italic {
    font-style: italic;
}


.elemento-lista, .concierge-elemento p, .estadio p {
    color: #003C51;
    font-family: "Adobe Caslon Pro Font";
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    

}

.elemento-lista span {
    min-width: 70px;
    align-self: self-start;
}
.elemento-lista p {
    color: #003C51;
    font-family: "Adobe Caslon Pro Font";
    margin-right: 5px;
}



.lista-elemento {
    display: grid;

    grid-auto-rows: auto;
    gap: 10px;
}

.canales-contenedor {

    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.59rem;

}


.canales-contenedor > div {
    width: 50%;
    font-family: "Adobe Caslon Pro Font";
    color: #003C51;
}


.canales-contenedor > div:first-child {
    border-right: 2px solid #D2AA62;
}


.canales-contenedor > div:last-child {
    padding-left: 15px;
}


.television-elemento {

    width: 100%;
}

.elemento-icon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;   
    margin-bottom: 30px;
}


.elemento-icon .icon {
    display: inline-block;
    height: 100px;
    width: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.elemento-icon .television-icon {
    background-image: url('../images/control.svg');
}

.elemento-icon .internet-icon {
    position: relative;
    top: 20px;
    background-image: url('../images/wifi.svg');
}


.elemento-icon .reloj-icon {
    position: relative;
    top: 10px;
    background-image: url('../images/reloj.svg');
}
.restaurantes-elemento div picture img {
    max-width: 90vw;
}

#restaurantes .desc {
    font-size: 1.8rem;
}
.border {

    height: 100%;
    width: calc(100% - 120px);
    border-bottom: 2px solid #D2AA62;
}
.lista-desc {
    padding: 10px 0;
}
.television-elemento .lista-desc p, .internet-elemento .lista-desc p, .reloj-elemento .lista-desc p {
    color: #003C51;
    font-family: "Adobe Caslon Pro Font";
    font-size: 1.7rem;
    
    
}

.reloj-elemento  .lista-desc p {
    color: #003C51;
    padding-bottom: 10px;
}


.restaurantes-elemento .elemento-titulo {
    margin: 20px 0 50px;
    padding-bottom: 15px;

}

.restaurantes-elemento div .desc{
    margin: 40px 0;
    color: #003C51;
    font-size: 2.4rem;


}


.lagos {
    margin-top: 70px;
}


.lagos:last-child  picture img {
    position: relative;
    left: -10px;
    width: 85%;
}

.barra {
    margin-top: 70px;
}

#mapa {
    width: 80%;
    margin: auto;
}

#mapa .titulo {
    line-height: 60px;
    padding-bottom: 30px;
}


.mapa-desc {
    font-size: 1.6rem;

}

.mapa-linea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.mapa-titulo {
    color: white;
    padding: 6px 12px;
    margin: 60px 0 20px;
    font-size: 1.1rem;

}

.link {
    margin-bottom: 20px;
}
.link span {
    display: inline-block;
    width: 80px;
    height: 100px;
    background-image: url("../images/mapa.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom;

}



.habitaciones-titulo {
    background: #D28C4E;
}

.salones-titulo {
    background: #509BC6;
}

.servicios-titulo {
    background: #407C50;
}

.bar-titulo {
    background: #CC524A;
}

.oficinas-titulo {
    background: #E1CA5A;
}



#mapa {
    max-width: 700px; /* Para mantener el diseño dentro del ancho máximo de 700px */
    margin: 0 auto;
    overflow-x: hidden; /* Evita que el contenido dentro del contenedor se desplace accidentalmente */
  }
  
  .mapa-contenedor {

    width: 100%; /* Ancho del mapa */
    overflow-x: auto; /* Permite el desplazamiento horizontal */
  }
  
  .mapa-contenedor img {
    width: 1400px; /* Asegura que la imagen ocupe el ancho total del contenedor */
    display: block; /* Elimina cualquier espacio blanco adicional alrededor de la imagen */
  }
  
#concierge {
    width: 90%;
    margin: auto;
}

.vista {
    display: inline-block   ;
    padding-bottom: 100px;

}


.vista .elemento-titulo {
    font-weight: bold;
}

/* footer */
footer.hidden {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    will-change: transform, opacity;
}

footer.visible {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

footer {
    max-width: 700px;
    width: 100%;
    display: inline-block;

    position: fixed;
    bottom: 0;
}

footer .first {

    background: #DDDBCF;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}


.first-cont {
    padding: 10px 0;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}
.first-cont a {
    display: flex;
    align-items: center;
    color: #003C51;
    text-decoration: none;
}

.first-cont  a span {
    display: inline-block;
    width: 18px; /* Ancho del cuadrado */
    height: 18px; /* Altura del cuadrado */
    border-width: 3px 3px 0 0; /* Bordes superiores y derechos para crear la flecha */
    border-style: solid;
    border-color: #003C51; /* Color de la flecha */
    transform: rotate(-135deg); /* Gira el cuadrado para formar una flecha */
    margin-right: 8px; /* Espacio entre la flecha y el texto */
}

.last {
    width: 100%;
    height: 20px;
    background: #C2BEAF;
    border-bottom: 10px solid #9C8A74;
}